<h1>Itineraries#index</h1>
<table>
 	<tr>
 		<td>Day</td>
 		<td>Event</td>
 		<td>Time</td>
 	</tr>
 	<% @itineraries.each do |itinerary| %>
 	<tr>
 		<td><%= itinerary.day %></td>
 		<td><%= itinerary.event_name %></td>
 		<td><%= itinerary.event_time %></td>
 	</tr>
 	<% end %>
</table>

