<h1>Plans#new</h1>
<%= form_for(@plan) do |f| %>
    <div class="field">
        <p>trip</p> 
        <%= f.text_field :trip%>
    </div>
    <div class="field">
        <p>event name</p> 
        <%= f.text_field :event_name%>
    </div>
    <div class="actions">
        <%= f.submit %>
    </div>
<% end %>
